name: just print

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  echo-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: |
          echo " Hi I am running this simple code to test basic block of GH action in RS id i.e. arjun.sahi@rackspace.com"
          echo "Workflow executed successfully"
