name: Manual Dispatch With Inputs

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Your name"
        required: true
        default: "User"

      environment:
        description: "Target environment"
        required: false
        default: "dev"

jobs:
  manual-job:
    runs-on: ubuntu-latest

    steps:
      - name: Use inputs
        run: |
          echo "Hello, ${{ github.event.inputs.name }}!"
          echo "Environment: ${{ github.event.inputs.environment }}"
